.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.DerivedData-macos/
.DerivedData-ios/
.workspace/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
build.run
test.run
coverage.txt
percentage.txt
WD
WD.xcresult/
